html, body {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans';
  background-color: #FFEFD8;
  background-image: linear-gradient(#FFEFD8, #D0C4B3);
  background-attachment: fixed;
  background-size: cover;
}
body>header, main, body footer {
  max-width: 80ch;
  margin: 0 auto;
}
main {
  padding: 2em;
}
a, .accent {
  color: #B59817;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
a:hover {
  border-bottom: 1px solid currentColor;
}
body, body>header, main, body footer, menu, .list, .flex, .infographic, .infographic li {
  display: flex;
}
body>header, main, body footer, menu, .list, .flex {
  row-gap: 1em;
  column-gap: 1em;
  flex-wrap: wrap;
}
body, body>header, main, body footer, .column, .infographic li {
  flex-direction: column;
}
body>header, body footer {
  padding: 4em;
  align-items: center;
  justify-content: center;
}
time, dd, code {
  font-variant-numeric: slashed-zero;
}
.thin {
  font-weight: lighter;
}
footer, footer a {
  color: #4E4512;
  font-size: small;
}
input, button, select {
  border: none !important;
  outline: none !important;
  border-radius: 4px;
  padding: 4px 8px;
  font-family: inherit;
  font-size: inherit;
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}
input.accent, button.accent, select.accent, td.accent, .calendar td:hover {
  background-color: #ECE0AA;
  color: inherit;
}
input[type=submit] {
  background-color: #e6c639;
  cursor: pointer;
}
input[type=submit].icon {
  height: 2em;
  width: 2em;
}
h3, h4, h5, h6, summary, th, footer nav, button, input[type=submit], .thin, .infographic li {
  font-variant-caps: all-small-caps;
}
menu, ul.list, ol.list {
  padding: 0;
}
menu {
  margin: 0;
}
menu li {
  list-style-type: none;
}
form.flex {
  max-width: 50%;
}
form input {
  flex-grow: 1;
}
table {
  border-collapse: collapse;
}
table td {
  outline: 1px solid #D0C4B3;
  padding: 8px;
}
td a {
  color: inherit;
}
thead th {
  font-weight: normal;
  outline: 0;
}
.icon {
  max-width: 1.5em;
}
.invert {
  filter: invert(1);
}
.sun_graphic svg {
  display: block;
  position: relative;
  width: 100%;
  background-size: 100% 100%;
  overflow: visible;
  min-height: 50px !important;
  max-height: 250px !important;
}
.sun_graphic .fill {
  fill: #E5D9C7;
}
.sun_graphic + *, .sun_graphic + *>li {
  background-color: #E5D9C7;
  z-index: 1;
}
.sun_graphic ~ .gradient {
  background-image: linear-gradient(#E5D9C7, #D0C4B3);
}
.infographic {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
body>.infographic {
  padding: 1em;
}
.horizontal.infographic {
  align-items: center;
}
.infographic li {
  padding: 1em;
  flex-wrap: wrap;
}
.infographic #solarNoon {
  align-items: center;
}
.horizontal.infographic #solarNoon ~ li, .horizontal.infographic li:last-of-type {
  text-align: right;
  align-items: flex-end;
}
.sun_gradient {
  background-image: linear-gradient(to right, #003C1F, #B59817, #3C0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: local;
}
.calendar td:not(:empty) {
  text-align: right;
  padding: 8px 10px;
}
.calendar td:hover {
  border: 0;
}