html, body {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans';
  display: flex;
  flex-direction: column;
  background-color: #FFEFD8;
  background-image: linear-gradient(#FFEFD8, #D0C4B3);
  background-attachment: fixed;
  background-size: cover;
}
body>header, main, body>footer {
  max-width: 80ch;
  margin: 0 auto;
}
a, .accent {
  color: #B59817;
}
a {
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid currentColor;
}
article {
  max-width: 80ch;
}
body>header,menu,.list {
  display: flex;
  row-gap: 1em;
  column-gap: 1em;
}
body>header {
  padding: 4em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
time, dd, code {
  font-variant-numeric: slashed-zero;
}
input, button {
  border: none !important;
  outline: none !important;
  border-radius: 4px;
  padding: 4px 8px;
  font-family: inherit;
  font-size: inherit;
}
input.accent, button.accent, td.accent {
  background-color: #ECE0AA;
  color: inherit;
}
h3, h4, h5, h6, summary, .infographic li {
  font-variant-caps: all-small-caps;
}
.sun_graphic svg {
  display: block;
  position: relative;
  width: 100%;
  background-size: 100% 100%;
  overflow: visible;
  min-height: 50px !important;
  max-height: 250px !important;
}
.sun_graphic .fill {
  fill: #E5D9C7;
}
.sun_graphic ~ .gradient {
  height: 100%;
  background-image: linear-gradient(#E5D9C7, #D0C4B3);
}
.infographic {
  display: flex;
  padding: 1em;
  gap: 1em;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #003C1F, #E7CA43, #B59817, #3C0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.infographic li {
  display: flex;
  flex-direction: column;
}
menu {
  padding: 0;
}
menu li {
  list-style-type: none;
}
main>.calendar {
  margin: 0 auto;
  border-collapse: collapse;
}
.calendar td:not(:empty) {
  text-align: right;
  outline: 1px solid #D0C4B3;
  padding: 8px 10px;
  max-width: 38px;
}